#ztr-content,
#ztr-content img {
  max-width: 100%;
}

#ztr-root {
  display: flex;
  flex-direction: column;
  font-family: var(--ztr-font);
  font-size: var(--ztr-font-size);
  color: var(--ztr-text-color);
  border: 1px solid transparent;
  word-wrap: break-word;
  /* removes margin collapse */
  margin-top: 4em;
  line-height: 1.2em;
}

#ztr-subtitle {
  font-size: 1.2em;
  color: #666;
}

a {
  color: var(--ztr-link-color);
  text-decoration: none;
}

/* Comment */

.ztr-comment {
  position: relative;
  margin: 0;
  padding: 0;
}

.ztr-comment,
.ztr-reply-button {
  background-color: var(--ztr-background-color, rgba(0, 0, 0, 0.03));
}

.ztr-comment-body {
  padding: 1em;
}

.ztr-comment:first-child {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.ztr-comment:last-child {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.ztr-comment-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ztr-comment-info {
  display: flex;
  align-items: center;
}

.ztr-comment-info-picture {
  width: 3.5em;
}

ul.ztr-comment-info-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

ul.ztr-comment-info-items li {
  display: inline-block;
  cursor: default;
  padding-right: 0.5em;
}

ul.ztr-comment-info-items li a {
  font-weight: 600;
}

.ztr-comment-info-author a {
  font-size: 1.2em;
  padding-right: 0.2em;
}

.ztr-comment-info-dots {
  cursor: pointer;
}

.ztr-comment-info-separator {
  width: 0.5em;
}

.ztr-comment-info-picture img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.5em;
  position: relative;
  display: block;
  object-fit: cover;
}

.ztr-comment-text,
#ztr-content {
  margin-bottom: 0.75em;
  padding: 0 0.8em 0 3.5em;
  line-height: 1.5em;
  line-break: loose;
  word-break: break-word;
  overflow: hidden;
  max-width: 750px;
}

.ztr-comment-text p {
  margin: 0 0 0.5em 0;
}

.ztr-comment-text code {
  font-size: 1.1em;
  margin: 0 0.2em;
}

.ztr-comment-text pre,
.ztr-info-pane pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

.ztr-comment-text a:hover {
  text-decoration: underline;
}

.ztr-comment-text img {
  max-width: 100%;
}

.ztr-comment-text .warning {
  margin-top: 0em;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.ztr-comment-text .warning svg {
  height: 1.2em;
  fill: #e4984d;
  padding-right: 0.7em;
}

.ztr-comment-replies {
  margin-left: 2em;
}

.highlight p {
  background: #F6AD55;
  color: #2B2B2B;
  display: inline;
  padding: 0.2em;
}

/* Styling the reply to comment form */

.ztr-comment-expand {
  display: flex;
  justify-content: center;
}

.ztr-comment-expand span {
  margin: 1em 0 1em 0.35em;
  cursor: pointer;
}

ul.ztr-comment-actions,
.ztr-comment-expand {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2.625em;
  font-weight: 600;
  user-select: none;
}

ul.ztr-comment-actions {
  margin-top: -1em;
}

ul.ztr-comment-actions li {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 1em;
  margin: -0.125em;
  cursor: pointer;
}

ul.ztr-comment-actions li span {
  padding: 0.25em 0.25em 0 0.25em;
  color: var(--ztr-icon-color, #3B3B3B);
}

svg {
  fill: var(--ztr-icon-color, #3B3B3B);
  width: 1.1em;
  height: 1.1em;
}

li.ztr-comment-action-upvote {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

li.ztr-comment-action-downvote {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

li.ztr-comment-action-reply {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

li.ztr-comment-action-zap {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

li.ztr-comment-action-like {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.ztr-comment-action-reply:hover svg {
  fill: #92379c;
}

.ztr-comment-action-reply:hover span {
  color: #92379c;
}

.ztr-comment-action-zap:hover svg {
  fill: #e4984d;
}

.ztr-comment-action-zap:hover span {
  color: #e4984d;
}

.ztr-comment-action-like:hover svg {
  fill: #e35428;
}

.ztr-comment-action-like:hover span {
  color: #e35428;
}

.ztr-comment-action-upvote:hover svg {
  fill: #0288d1;
}

.ztr-comment-action-upvote:hover span {
  color: #0288d1;
}

.ztr-comment-action-upvote.selected {
  svg {
    fill: #0288d1;
  }
}

.ztr-comment-action-downvote:hover svg {
  fill: #0288d1;
}

.ztr-comment-action-downvote:hover span {
  color: #0288d1;
}

.ztr-comment-action-downvote.selected {
  svg {
    fill: #0288d1;
  }
}

li.ztr-comment-action-votes {
  justify-content: center;
  span {
    margin-left: -0.7em;
    margin-right: -0.7em;
    font-size: 0.85em;
  }
}

.ztr-reply-form {
  padding: 0 0.5em 0 3.5em;
}

.ztr-reply-form textarea {
  font-family: var(--ztr-font);
  font-size: 1.1em;
  line-height: 1.4;
  color: #2B2B2B;
  background-color: #FDFDFD;
  border: 1px solid #BBB;
  outline: none;
  width: calc(100% - 1.5em);
  padding: 0.7em;
  margin: 0.5em 0;
  height: 4em;
  border-radius: 0.2em;
  min-height: 4em;
  resize: vertical;
}

.ztr-reply-form:disabled {
  opacity: 65%;
  user-select: none;
}

.ztr-reply-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ztr-reply-controls span {
  font-weight: bold;
  font-size: 0.85em;
  margin-right: 1em;
  user-select: none;
  cursor: default;
}

.ztr-reply-error {
  color: rgb(202, 23, 23);
}

.ztr-reply-controls button {
  font-family: var(--ztr-font);
  appearance: none;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 0.85em;
  font-weight: 600;
  cursor: pointer;
}

.ztr-reply-login-button {
  color: white;
  background-color: var(--ztr-login-button-color, #2B2B2B);
  margin-left: 1em;
}

.ztr-reply-button {
  color: var(--ztr-text-color);
  display: flex;
  align-items: center;
}

.ztr-info-pane {
  padding: 0 0.5em 1em 3.5em;
}

.ztr-info-pane pre {
  font-size: 0.8em;
}

.ztr-spinner {
  width: 1.2em;
  height: 1.2em;
  padding: 0.9em;
  animation: rotate 4s linear infinite;
}

.ztr-reply-button:disabled {
  opacity: 65%;
  pointer-events: none;
  cursor: pointer;
  user-select: none;
}

.ztr-spinner .path {
  stroke: var(--ztr-text-color, #2B2B2B);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* new */

.ztr-comment-new .ztr-reply-form {
  margin: 0.5em 0;
  padding: 0;
}

.ztr-comment-new .ztr-comment-body {
  padding: 0;
}

.ztr-comment-new .ztr-comment-actions {
  font-size: 1.1em;
  padding: 0;
}

/* Dark mode defaults */

@media (prefers-color-scheme: dark) {
  .ztr-spinner .path {
    stroke: var(--ztr-text-color, #DEDEDE);
  }

  .ztr-comment,
  .ztr-reply-button {
    background-color: var(--ztr-background-color, rgba(255, 255, 255, 0.06));
  }

  .ztr-reply-login-button {
    color: #2B2B2B;
    background-color: var(--ztr-login-button-color, #DEDEDE);
  }

  svg {
    fill: var(--ztr-icon-color, #DEDEDE);
  }

  ul.ztr-comment-actions li span {
    color: var(--ztr-icon-color);
  }

  .ztr-comment-action-reply:hover svg {
    fill: #96609c;
  }

  .ztr-comment-action-reply:hover span {
    color: #96609c;
  }
}
