body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    line-height: 1.9rem;
    max-width: 900px;
}

.custom.solid-select-container {
    color: #fa7f25;
  }
  .custom .solid-select-control {
    outline-color: #fca560;
    border-color: #fca560;
  }
  .custom .solid-select-placeholder {
    color: #fca560;
  }
  .custom .solid-select-option:hover {
    background-color: #fa7f25;
    color: #fff;
  }
  .custom .solid-select-option[data-focused=true] {
    background-color: #fca560;
    color: #fff;
  }